.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0);
}

thead {
  background-color: rgba(0, 0, 0, 0.05);
}

#addButton {
  color: white;
  background-color: green;
  border-radius: 5px;
}

#cancelButton {
  border-radius: 5px;
  background-color: white;
}

.gradeForm .row{
  margin-bottom: 1rem;
}
