/* .gradeForm .row {
  margin-bottom: 1rem;
} */

.table-fixed tbody {
  height: 300px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed tr, .table-fixed td {
  display: block;
}

td {
  height: 50px;
}

.table-fixed tbody td, .table-fixed thead>tr>th {
  float: left;
  position: relative;
}

.input-group-prepend {
  width: 40px;
}

@media screen and (max-device-width: 414px) and (max-device-height: 812px) {
  h2 {
    font-size: 1.5rem;
  }
  th {
    height: 75px;
  }
  .table-fixed tbody {
    height: 350px;
  }
}

@media screen and (max-device-width: 414px) and (max-device-height: 667px) {
  h2 {
    font-size: 1.5rem;
  }
  th {
    height: 75px;
  }
  .table-fixed tbody {
    height: 250px;
  }
}

@media only screen and ( min-device-width:667px) and (max-device-width: 767px) {
  .container, .container-sm, .container-md {
    max-width: 660px;
  }
  h2 {
    font-size: 1.5rem;
  }
  th {
    height: 75px;
  }
  input {
    width: 170px;
  }
  .table-fixed tbody {
    height: 250px;
  }
}

@media (min-device-width: 768px) and (max-device-width: 812px) and (min-device-height:375px) {
  .container, .container-sm, .container-md {
    max-width: 760px;
  }
  h2 {
    font-size: 1.5rem;
  }
  th {
    height: 75px;
  }
  .table-fixed tbody {
    height: 200px;
  }
}

@media (min-device-width: 768px) and (min-device-width:400px) {
  .table-fixed tbody {
    height: 70vh;
  }
}

.table-fixed thead {
  width: 100%;
}

.table-fixed tbody {
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody {
  display: block;
}
